name: build
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@86cbc893b3c44423bb3b27da33c306deba1e1ef4
        with:
          diagnostic-endpoint:
      - name: Build
        run: |
          nix build --print-build-logs
      - name: Check
        run: |
          nix flake check
